{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/baseballs/baseballindex.css' %}">
{% endblock style %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataFrame Display with Drag and Drop</title>
    <style>
        /* 테이블 스타일 (예시) */
        table {
            border-collapse: collapse;
            width: 50%;
            margin-right: 10px; /* 오른쪽으로 10px 간격 */
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .draggable {
            cursor: move; /* 드래그 커서로 변경 */
            border: 2px dashed gray;
            margin-top: 20px;
            padding: 10px;
        }
        .droppable {
            border: 2px dashed gray;
            margin-top: 20px;
            padding: 10px;
        }
        .saved-span {
            display: block;
            margin-bottom: 5px;
            background-color: #f2f2f2;
            padding: 5px;
            border: 1px solid black;
        }

        .delete-btn {
            cursor: pointer;
            color: red;
            margin-left: 5px;
        }

        .error-msg {
            color: red;
            font-weight: bold;
        }

        /* 부모 컨테이너 스타일 */
        .parent-container {
            display: flex;
            flex-direction: row;
            justify-content: center;

            position: relative;
            min-height: 100vh; /* 최소 화면 높이를 100vh로 설정 */

        }

        
        /* 드래그 기능 컨테이너 스타일 */
        .draggable-container {
            width: 10%; /* 30%로 조정하면 더 작아집니다. */
            height: 300px;
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            padding: 20px;
            margin-left: 10px; 


            position: fixed; /* 화면에 고정됨 */
            bottom: 150px;
            right: 250px;
            max-height: calc(100vh - 120px); /* 최대 높이를 화면 높이의 90%로 설정 */
            overflow-y: auto; /* 내용이 넘칠 경우 스크롤 가능하도록 설정 */
        }

        #compare_btn_container {
            position: fixed;
            bottom: 150px; /* 화면 아래로부터의 거리를 조정합니다. */
            right: 350px; /* 화면 오른쪽으로부터의 거리를 조정합니다. */
            text-align: center;

        }

        #compare_btn {
        position: absolute; /* 부모 컨테이너를 기준으로 위치를 고정 */
        border: 1px solid #000; /* 테두리 추가 */
        padding: 5px 10px; /* 테두리 안에 여백 추가 */
        background-color: #f2f2f2; /* 배경색 지정 */
        cursor: pointer; /* 포인터 커서로 변경 */
        width: 100px;
    }

    </style>
</head>
<body>

    <div class="parent-container">
        <!-- DataFrame 데이터를 출력하는 테이블 -->
        <table>
            <thead>
                <tr>
                    <th>랭킹</th>
                    <th>선수 이름</th>
                    <th>고유 선수 번호</th>
                    <th>점수</th>
                </tr>
            </thead>
            <tbody>
                <!-- 테이블 데이터에 드래그 앤 드롭 기능을 적용하기 위해 draggable 속성 추가 -->
                {% for row in datatable %}
                <tr id="row_{{ forloop.counter }}" class="draggable" draggable="true" ondragstart="dragStart(event)">
                    <td>{{ row.랭킹 }}</td>
                    <td>{{ row.선수이름 }}</td>
                    <td>{{ row.고유선수번호 }}</td>
                    <td>{{ row.점수 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- 드래그 앤 드롭으로 이동한 행을 저장하는 div -->
        <div class="draggable-container droppable" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2>선수를 드래그&드롭 해보세요!</h2>
            <span id="saved_data"></span>
            <div class="error-msg" id="error_message"></div>
        </div>


        <div id="compare_btn_container">
            <form method="post" action="b_com">
                {% csrf_token %}
                <input type="hidden" name="selected_data" id="selected_data_input">
                <button id="compare_btn" >비교</button>
            </form>
        </div>
    </div>
    <script>
        var selectedPlayers = [];
    
        // 드래그 앤 드롭 기능 구현을 위한 JavaScript 코드
        function dragStart(event) {
            event.dataTransfer.setData("text/plain", event.target.id);
        }
    
        function allowDrop(event) {
            event.preventDefault();
        }
    
        function drop(event) {
            event.preventDefault();
            var data = event.dataTransfer.getData("text/plain");
            var target = event.target;
            var selectedData = document.getElementById(data).innerText;
            if (target.classList.contains("droppable")) {
                var savedDataDiv = document.getElementById("saved_data");
    
                // 이미 선택된 선수인지 확인
                if (selectedPlayers.includes(selectedData)) {
                    var errorMsg = document.getElementById("error_message");
                    errorMsg.textContent = "이미 선택한 선수입니다!";
                    return;
                }
    
                // 새로운 선수를 추가
                var newRow = document.createElement("div");
                newRow.classList.add("saved-span");
                newRow.textContent = selectedData;
    
                // X 표시를 생성하고 클릭하면 해당 span 태그를 삭제하는 기능 추가
                var deleteBtn = document.createElement("span");
                deleteBtn.classList.add("delete-btn");
                deleteBtn.textContent = "X";
                deleteBtn.onclick = function () {
                    savedDataDiv.removeChild(newRow);
                    // 선택된 선수 배열에서도 삭제
                    var index = selectedPlayers.indexOf(selectedData);
                    if (index !== -1) {
                        selectedPlayers.splice(index, 1);
                    }
                    // adjustContainerHeight(); // 선수가 삭제된 후 컨테이너 높이 조정
                };
    
                newRow.appendChild(deleteBtn);
                savedDataDiv.appendChild(newRow);
    
                // 선택된 선수 배열에 추가
                selectedPlayers.push(selectedData);
    
                // 에러 메시지 삭제
                var errorMsg = document.getElementById("error_message");
                errorMsg.textContent = "";
    
                // adjustContainerHeight(); // 새로운 선수가 추가된 후 컨테이너 높이 조정
            }
        }
    
        function adjustContainerHeight() {
            var draggableContainer = document.querySelector(".draggable-container");
            var draggableContainerRect = draggableContainer.getBoundingClientRect();
            var savedDataDiv = document.getElementById("saved_data");
            var savedSpans = savedDataDiv.getElementsByClassName("saved-span");
    
            // 드롭된 모든 span 태그들의 높이 누적 계산
            var totalHeight = 0;
            for (var i = 0; i < savedSpans.length; i++) {
                totalHeight += savedSpans[i].getBoundingClientRect().height;
            }
    
            // 드롭된 모든 span 태그들의 높이가 draggableContainer보다 크면 draggableContainer 크기 조정
            // 그렇지 않으면 기존 높이 유지
            draggableContainer.style.height = totalHeight > draggableContainerRect.height -100
                ? totalHeight + "px"
                : draggableContainerRect.height + 50 + "px";
        }


        document.getElementById("compare_btn").addEventListener("click", function() {
            var savedDataDiv = document.getElementById("saved_data");
            var savedSpans = savedDataDiv.getElementsByClassName("saved-span");
            var selectedDataList = [];

            // 선택된 span 태그들의 텍스트 데이터를 배열에 추가
            for (var i = 0; i < savedSpans.length; i++) {
                selectedDataList.push(savedSpans[i].innerText);
            }

            // 선택된 데이터를 hidden input에 설정
            document.getElementById("selected_data_input").value = JSON.stringify(selectedDataList);
            });






    </script>
</body>
</html>

{% endblock content %}