{% extends 'base.html' %}


<!-- 1. static 사용 -->
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/baseballs/baseballindex.css' %}">
{% endblock style %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>   
    
</head>
<body>
  
	<!-- 4. 사이트 html 하단 figure 태그 -->
	<figure class="highcharts-figure">
    <div class="chart-container">
      <form id="select-form" method="post" action="{% url 'baseballs:change_index2' %}">
        {% csrf_token %}
        <select id="index-select" name="selected_value"> 
            <option value="방어율" {% if idx == '방어율' %}selected{% endif %}>방어율</option>
            <option value="삼진" {% if idx == '삼진' %}selected{% endif %}>삼진</option>
            <option value="피안타" {% if idx == '피안타' %}selected{% endif %}>피안타</option>
            <option value="피홈런" {% if idx == '피홈런' %}selected{% endif %}>피홈런</option>
        </select>
      </form>
    </div>
      <div id="container">test</div>
      <form method="post" action="{% url 'baseballs:remove' %}" >
        {% csrf_token %}
        {% for name,id in zip_info %}
        <spann>
        <button name = 'remove_name2' type = 'submit' value="{{id}}" class  = 'baseballs__index--btn1' >{{name}}({{id}} X</button>
        </spann>
        {% endfor %}
      </form>
      <form id = 'index-form' method = 'post' action="{% url 'baseballs:get_index2' %}">

        {% csrf_token %}
        <div class = 'baseballs__index--div1'>
        <input type="text" id="search-input" name = 'add_name' class = 'baseballs__index--tag1' placeholder="자동완성 형태로 입력해주세요">
        </div>
        <button id="compare" class  = 'baseballs__index--btn2' >비교</button>
      </form>
    
    </figure>

    
    
    
    <script>
      var $ = jQuery.noConflict();

$(function() {
  // 자동완성 데이터를 가져올 URL에서 데이터를 비동기적으로 가져옴
  $.get("autocomplete2", function(data) {
    // 데이터를 가져온 후에 Autocomplete 위젯을 설정
    $("#search-input").autocomplete({
      source: data, // 가져온 데이터를 자동완성 데이터로 설정
      minLength: 1 // 최소 입력 문자열 길이
    });

    // 검증 및 form 제출을 위한 이벤트 핸들러 등록
    document.getElementById('compare').addEventListener('click', function(event) {
      event.preventDefault(); // Prevent the default form submission behavior
      var inputValue = document.getElementById('search-input').value;
      console.log(inputValue)

      // input 값이 자동완성 목록에 없는 경우
      var autocompleteOptions = data; // 가져온 데이터 사용
      console.log(autocompleteOptions)
      if (!autocompleteOptions.includes(inputValue)) {
        alert('자동완성 목록에 있는 데이터를 입력해주세요.');
        return;
      }

      // input 값이 있는 경우 form 제출
      document.getElementById('index-form').submit();
    });

    document.getElementById('index-select').addEventListener('change', function() {
      document.getElementById('select-form').submit();
    });
  });
});


      document.getElementById('index-select').addEventListener('change', function() {
        document.getElementById('select-form').submit();
    });


      var $ = jQuery.noConflict();
      $(function() {
        // $ 기호를 사용하는 코드를 이곳에 작성합니다.
        $("#search-input").autocomplete({
          source: "autocomplete2", // 자동완성 데이터를 가져올 URL
          minLength: 1 // 최소 입력 문자열 길이
        });
      });
      </script>
    <script>

      var machart = Highcharts.chart('container', {
        chart: {
          type: 'spline'
        },
        title: {
          text: '주간 {{idx}}'
        },
        // subtitle: {
        //   text: 'Source: WorldClimate.com'
        // },
        xAxis: {
          categories: [{% for i in week %}{{i}}, {% endfor %}],
        },
        yAxis: {
          {% if idx == '방어율' %} 

          min : -5,
          title: {
            text: '{{idx}}',
          },
          labels: {
            formatter: function () {
              return this.value ;
            }
          }
          {% else %} 

          min : 0,
          max : 20,  
          title: {
            text: '{{idx}}',
          },     
          labels: {
            formatter: function () {
              return this.value + '개';
            }
          }

          {% endif %}
          
        },
        tooltip: {
          crosshairs: true,
          shared: true
        },
        plotOptions: {
          spline: {
            marker: {
              radius: 4,
              lineColor: '#666666',
              lineWidth: 1
            }
          }
        },
        series: [
        // 이부분 for문으로 
        {% for name,pit,pid in result %} 
        {
          name: '{{name}}({{pid}})',  
          data: [
                {% for p in pit %} 
                      {% if p == -1.0 %} 
                      
                        {
                        y: -1.0,
                        marker: {
                          fillColor: 'red'
                        }
                        }, 
                      {% else %} 
                        {{p}}, 
                      {% endif %}
                {% endfor %}
        ]
        },     
        {% endfor %}
      ]
      });
    
    </script>
</body>
</html>

{% endblock content %}