.baseballs__index--tag1{
    margin-left:10px;
    width: 300px;
    float: center;
}

.baseballs__index--btn1{
    margin-left:10px;
    color: white;
    border-color: black;
    float: center;
    border: solid 3px black;
    background-color:black;
}
.baseballs__index--btn2{
    margin-left:260px;
    color: white;
    border-color: black;
    border: solid 3px black;
    background-color:black;
}

/* .baseballs__index--div1{
    text-align: center;
    
} */


.highcharts-axis-title {
  transform: rotate(-180deg); /* title을 세로로 회전 */
  transform-origin: left center; /* 회전 기준점을 좌측 중앙으로 지정 */
  white-space: nowrap; /* title이 한 줄로 표시되도록 설정 */
  overflow: visible; /* title이 넘치더라도 잘림 없이 보이도록 설정 */
  text-overflow: ellipsis; /* title이 넘칠 경우 말줄임표(...) 표시 */
  position: absolute; /* 회전된 title의 위치를 조정하기 위해 절대 위치 설정 */
  left: -10px; /* 원하는 위치로 조정 (필요에 따라 조정 가능) */
  top: 50%; /* 원하는 위치로 조정 (필요에 따라 조정 가능) */
  transform: translate(-100%, -50%) rotate(-90deg); /* 세로로 회전한 후 원하는 위치로 이동 */
}


/* baseballindex.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .highcharts-figure {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .highcharts-description {
    font-size: 12px;
    text-align: center;
    color: #777;
  }
  
  /* 테이블 스타일 */
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
  
  /* 드롭다운 기능 버튼 스타일 */
  .baseballs__index--btn1, .baseballs__index--btn2 {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  
  /* 입력 창 스타일 */
  .baseballs__index--tag1 {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* 드롭다운 기능 div 스타일 */
  .baseballs__index--div1 {
    margin-bottom: 10px;
  }
  
  /* 드롭다운 기능 span 스타일 */
  spann {
    margin-right: 5px;
  }
  
  /* Highcharts 그래프 컨테이너 스타일 */
  #container {
    margin-top: 20px;
  }
  
  /* 자동완성 기능 결과 스타일 */
  .ui-menu-item {
    font-size: 14px;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  /* 자동완성 기능 결과 마지막 아이템 스타일 */
  .ui-menu-item:last-child {
    border-bottom: none;
  }



  .chart-container {
    /* position: absolute; */
    z-index: 1;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}