.dark ::placeholder {
  color: #FFFFFF;
}

.posts__index--warp {
  margin: 0 24%;
}

.posts__index--header {
  position:relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.posts__index--title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.posts__post--writebtn {
  position: absolute;
  font-weight: bold;
  width: 80px;
  height: 35px;
  padding: 7px;
  right: 0;
  bottom: 0;
}

.posts__posts--listbox {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

.dark .posts__posts--listbox {
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}

.posts__posts--list {
  display: flex;
  flex-direction: column;
}

.posts__posts--index {
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-bottom: solid 1px black;
}

.dark .posts__posts--index {
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-bottom: solid 1px white;
}

.posts__post--item {
  display: flex;
  flex-direction: row;
  padding: 8px 4px;
  border-bottom: solid 1px gray;
}

.posts__post--item > p {
  font-size: 0.9rem;
}

.posts__post--item.last {
  border: none;
}

.posts__title {
  width: 38%;
  display: flex;
  align-items: center; /* 수직 가운데 정렬을 위해 추가 */
}

.posts__index--titlecnt {
  margin-left: 5px;
  color: red;
  font-size: 0.8rem;
}

.highlight {
  background-color: yellow;
  color: blue;
  /* font-weight: bold; */
}

/* search */
.posts__post--searchwrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.posts--post--searchbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.posts__post--searchlist {
  width: 110px;
  height: 35px;
  margin-right: 10px;
  font-size: 0.75rem;
  border: solid 3px gray;
  text-align: center;
  box-sizing: border-box;
  padding: 0 5px;
}

.dark .posts__post--searchlist {
  border-color: white;
  background-color: rgb(17, 24, 39);
  color: white;
}

.posts__post--searchbar {
  width: 260px;
  height: 35px;
  font-size: 0.8rem;
  border: solid 3px gray;
  box-sizing: border-box;
}

.dark .posts__post--searchbar {
  border-color: white;
  background-color: rgb(17, 24, 39);
  color: white;
}

.posts__post--search {
  width: 35px;
  height: 35px;
  border: solid 3px gray;
  border-left: none;
  box-sizing: border-box;
}

.dark .posts__post--search {
  border-color: white;
  background-color: rgb(17, 24, 39);
  color: white;
  border-left: none;
}

/* text */
.text1 {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}


/* paginator */
.page__btn {
  font-weight: bold; 
  padding: 3px;  
}

.page__btn:hover {
  color: gray;
}

.pagination__link--active{
  color: rgb(63 131 248);
  font-size: 20px;
}