.posts__detail--warp {
    min-width: 1024px;
    margin: 0 16%;
}

.posts__detail--header {
    display: flex;
    flex-direction: column;
    padding: 0 5px 10px 5px;
    border-bottom: solid 2px #777777;
}

.posts__detail--title {
    font-size: 1.5rem;
    font-weight: bold;
}

.posts__detail--header2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.posts__detail--infobox {
    display: flex;
    flex-direction: row;
}

.posts__detail--info {
    display: flex;
    flex-direction: row;
}

.posts__detail--info2 {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: flex-end;
}

.posts__detail--info2 > p {
    margin-left: 5px;
}

.posts__detail--info2 > i {
    margin-left: 10px;
}

.posts__detail--username {
    margin-right: 5px;    
}

.posts__detail--created {
    margin-left: 5px;
}

.posts__detail--listbox {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.posts__detail--listbtn {
    font-weight: bold;
    width: 80px;
    height: 35px;
    padding: 7px;
}


/* content */
.posts__detail--content {
    border-bottom: solid 2px #777777;
    padding: 30px 10px;
}

.posts__detail--likebox {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 25px;
}

/* content like */
.like-btn {
    font-size: 30px;
}

.thumb--color {
    color: #1d4ed8;
}

.like-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.like-count {
    font-weight: bold;
}

.like--hover:hover{
    color: #777777;
  }

/* comment */
.posts__detail--comCreate {
    border-bottom: solid 2px #777777;
    background-color: #e5e7eb;
    margin-bottom: 30px;
}

.posts__detail--comFormbox {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #777777;
    border-radius: 8px; */
    padding: 15px 30px;
    height: auto;
}

.posts__detail--comForm {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 135px;
    margin-bottom: 5px;
}

.posts__detail--comInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 18%;
    padding: 30px 10px 30px 0;
}

.comCreate--pw {
    position: relative;
    display: flex;
    width: 100%;
}

.comCreate--pw i {
    margin-left: 10px;
    font-size: 1.5rem;
    color: #777777
}

.posts__detail--comContent {
    width: 82%;
    height: 100%;
}

.posts__detail--comFormbtn {
    align-self: flex-end;
    font-weight: bold;
    width: 80px;
    height: 35px;
    padding: 7px;
    margin-top: 5px;
}

.posts__detail--comment {
    border-top: solid 2px #777777;
    border-bottom: solid 2px #777777;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.posts__detail--comTitle {
    font-weight: bold;
    margin-bottom: 8px;
}

.posts__detail--comBox {
    padding: 5px 10px;
}

.posts__detail--comItem {
    position: relative;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DBDBDB;
    padding: 5px 10px;
}

.posts__detail--coItInfo {
    width: 14%;
}

.posts__detail--coItContent {
    width: 66%;
}

.posts__detail--comEtc {
    position: relative;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.posts__detail--coItCreated {
    text-align: end;
    margin-bottom: 5px;
}

.posts__detail--comUpdateBox {
    display: flex;
    flex-direction: row;
    justify-content: end;
}


/* paginator */
.page__btn {
    font-weight: bold; 
    padding: 3px;  
}
  
.page__btn:hover {
    color: gray;
}
  
.pagination__link--active{
    color: rgb(63 131 248);
    font-size: 20px;
}


/* form class */
.comment-content {
    display: flex;
    align-items: start;
}


/* comment-update */
.edit-comment-form {
    display: none;
}

.edit-comment-button {
    display: block;
}

.edit-comment-button {
    font-size: 0.8rem;
    font-weight: bold;
    width: 50px;
    height: 25px;
    padding: 3px;
}

.cancel-comment-button {
    display: block;
}

.cancel-comment-button {
    font-size: 0.8rem;
    font-weight: bold;
    width: 50px;
    height: 25px;
    padding: 3px;
}


/* login modal */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    position: relative;
    background-color: white;
    width: 300px;
    margin: 200px auto;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
  }
  
  .close {
    color: #aaaaaa;
    text-align: end;
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }