.base--warp {
    padding: 60px 0;
    background-color: white;
}

.dark .base--warp {
    padding: 60px 0;
    background-color: rgb(17, 24, 39);
}

.darkbtn {
    position: fixed; 
    bottom: 60px; 
    right: 40px; 
    z-index: 999; 
    border: 1px solid rgba(0,0,0,0.25); 
    outline: none; 
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.7);
    box-shadow: rgba(63, 71, 77, 0.25) 0px 2px 10px;
    cursor: pointer; 
    border-radius: 100%;
}



/* 세부 메뉴를 감싸는 div 요소를 숨깁니다. */
.navbar__submenu {
    display: none;
    position: absolute;
    background-color: #edf2f7;
    border: 1px solid #edf2f7;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1; /* 다른 요소보다 위에 표시되도록 설정합니다. */
}

/* 세부 메뉴가 보이도록 설정합니다. */
.navbar__item:hover .navbar__submenu {
    display: block;  
}

.navbar__item{
    position: relative;
}


.flex items-center img {
    display: block;
    width: 100%;
    height: auto;
    background: transparent; /* 배경을 투명하게 만듭니다. */
  }