{% extends 'base.html' %}


<!-- 1. static 사용 -->
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/baseballs/baseballindex.css' %}">
{% endblock style %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
  
</head>
<body>
    <section>
        <div>
            <table border="1">
                <thead>
                    <tr>
                        {% for column in dataframe.columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in dataframe.iterrows %}
                    <tr>
                        
                        {% for column in row %}
                        <td>{{column}}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </section>


</body>
</html>

{% endblock content %}
