{% load static %}



<nav class="bg-white-0 border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="{% url 'index' %}" class="flex items-center">
            <img src="{% static 'img/5.png' %}" class="h-8 mr-3" style = "background: transparent; display: block; width: 10%; height: 15%;" alt="BW" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">BW</span>
        </a>
        <div class="flex items-center">
            {% if user.is_authenticated %}
            <a href="{% url 'accounts:logout' %}" class="mr-6 text-sm  text-blue-600 dark:text-blue-500 hover:underline">logout</a>
            {% else %}
            <a href="{% url 'accounts:login' %}" class="mr-6 text-sm  text-blue-600 dark:text-blue-500 hover:underline">Sign in</a>
            <a href="{% url 'accounts:signup' %}" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Sign up</a>
            {% endif %}
        </div>
    </div>
</nav>
<nav class="bg-gray-200 dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 mr-6 space-x-8 text-sm">
                <li>
                    <a href="{% url 'index' %}" class="text-gray-900 dark:text-white hover:underline" aria-current="page">메인</a>
                </li>
                <li>
                    <button id="weeklyIndex" data-dropdown-toggle="weeklyIndexdropdown" class="text-gray-900 dark:text-white hover:underline" type="button">주간 지표</button>
                    <!-- Dropdown menu -->
                    <div id="weeklyIndexdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="weeklyIndex">
                            <li>
                                <a href="{% url 'baseballs:set_index' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">타자</a>
                            </li>
                            <li>
                                <a href="{% url 'baseballs:set_index2' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">투수</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <button id="weeklyIndex" data-dropdown-toggle="rankIndexdropdown" class="text-gray-900 dark:text-white hover:underline" type="button">누적 랭킹</button>
                    <!-- Dropdown menu -->
                    <div id="rankIndexdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="weeklyIndex">
                            <li>
                                <a href="{% url 'baseballs:b_rank' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">타자</a>
                            </li>
                            <li>
                                <a href="{% url 'baseballs:p_rank' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">투수</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="{% url 'posts:index' %}" class="text-gray-900 dark:text-white hover:underline">커뮤니티</a>
                </li>
                <li>
                    <a href="{% url 'posts:index2' %}" class="text-gray-900 dark:text-white hover:underline">공지사항</a>
                </li>
                <li>
                    <button id="customerCenter" data-dropdown-toggle="customerCenterdropdown" class="text-gray-900 dark:text-white hover:underline" type="button">고객센터</button>
                    <!-- Dropdown menu -->
                    <div id="customerCenterdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="navbar__submenu py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="customerCenter">
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">1:1 문의</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">버그/오류 제보</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
