.base--warp {
    padding: 120px 0;
    background-color: white;
}

.dark .base--warp {
    padding: 120px 0;
    background-color: rgb(17, 24, 39);
}

.darkbtn {
    position: fixed; 
    bottom: 60px; 
    right: 40px; 
    z-index: 999; 
    border: 1px solid rgba(0,0,0,0.25); 
    outline: none; 
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.7);
    box-shadow: rgba(63, 71, 77, 0.25) 0px 2px 10px;
    cursor: pointer; 
    border-radius: 100%;
}