{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/posts/postsdetail.css' %}">
{% endblock style %}

{% block content %}
<article class="posts__detail--warp">
    <section class="posts__detail--header">
        <h1 class="posts__detail--title">{{ post.title }}</h1>
        <div class="posts__detail--header2">
            <div class="posts__detail--infobox">
                <div class="posts__detail--info">
                    <p class="posts__detail--username">{{ post.user.username }}</p>
                    <span>|</span>
                    <p class="posts__detail--created">{{ post.created_at|date:"y. m. d" }}</p>
                </div>
                <div class="posts__detail--info2">
                    <i class="bi bi-eye"></i><p>{{ post.view_count }}</p>
                    <i class="bi bi-hand-thumbs-up"></i><p>{{ post.like_users.count }}</p>
                    <i class="bi bi-chat-dots"></i><p>{{ post.postcomment_set.count }}</p>
                </div>
            </div>
            <div class="posts__detail--listbox">
                {% if prev_post %}
                    <a href="{% url 'posts:detail' prev_post.pk %}">
                        <button type="button" class="posts__detail--listbtn text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm ml-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">이전글</button>
                    </a>
                {% endif %}
                {% if next_post %}
                    <a href="{% url 'posts:detail' next_post.pk %}">
                        <button type="button" class="posts__detail--listbtn text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm ml-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">다음글</button>
                    </a>
                {% endif %}
                <a href="{% url 'posts:index' %}">
                    <button type="button" class="posts__detail--listbtn text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm ml-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">목록</button>
                </a>
            </div>
        </div>
    </section>
    <section class="posts__detail--content">
        <p>{{ post.content|safe }}</p>
        <div class="posts__detail--likebox">
            {% if request.user.is_authenticated %}
                <form class="like-form" data-post-id="{{ post.pk }}">
                    {% csrf_token %}
                    {% if request.user in post.like_users.all %}
                    <button type="submit" class="like-btn bi bi-hand-thumbs-up-fill thumb--color like--hover" id="like-btn"></button>
                    {% else %}
                    <button type="submit" class="like-btn bi bi-hand-thumbs-up like--hover" id="like-btn"></button>
                    {% endif %}
                    <div class="like-count">{{ post.like_users.count }}</div>
                </form>
            {% else %}
                <div class="like-form">
                    <button onclick="openModal()" class="like-btn bi bi-hand-thumbs-up like--hover" id="like-btn"></button>
                    <div class="like-count">{{ post.like_users.count }}</div>
                </div>
            {% endif %}
        </div>
    </section>
    <section class="posts__detail--comCreate">
        <form id="comment-create" class="posts__detail--comFormbox" action="{% url 'posts:comment_create' post.pk %}" method="POST">
            {% csrf_token %}
            <div class="posts__detail--comForm">
                <div class="posts__detail--comInfo">
                    <div>{{ request.user }}</div>
                    <div class="comCreate--pw">
                        {% if request.user.is_authenticated %}
                        <input type="hidden" id="username" name="username" value="{{request.user}}">
                        <input type="password" name="comment_pw" placeholder="Password" class="comment-pw" id="comment-pw" style="width: 100%; height: 100%; background-color: #dbdbdb;" autocomplete="new-password" aria-describedby="username" disabled>
                        {% else %}
                        <input type="hidden" id="username" name="username" value="">
                        <input type="password" name="comment_pw" placeholder="Password" class="comment-pw" id="comment-pw" style="width: 100%; height: 100%;" autocomplete="new-password" aria-describedby="username">
                        {% endif %}                        
                        <button type="button" data-dropdown-toggle="anonymousComment"><i class="bi bi-exclamation-circle"></i></button>
                        <!-- Dropdown menu -->
                        <div id="anonymousComment" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-48 dark:bg-gray-700">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="anonymousComment">
                                <li>
                                    <p class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">비로그인 상태로 댓글 작성시 비밀번호를 등록해 주세요</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="posts__detail--comContent">{{ postcomment_form.content }}</div>
            </div>
            <button type="submit" class="posts__detail--comFormbtn text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm ml-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">작성</button>
        </form>
    </section>

    <h1 class="posts__detail--comTitle">전체댓글 <span style="color: red;">{{ post.postcomment_set.count }}</span></h1>
    <section class="posts__detail--comment">
        <ul class="posts__detail--comBox">
            {% for comment in page_obj %}
                <li id="comment-{{ comment.pk }}" class="posts__detail--comItem">
                    {% if comment.user %}
                        <div class="posts__detail--coItInfo">{{ comment.user.username }}</div>
                    {% else %}
                        <div class="posts__detail--coItInfo">익명({{ comment.anonymous_ip }})</div>
                    {% endif %}
                    <div class="posts__detail--coItContent comment-content" data-comment-id="{{ comment.pk }}" style="display: block;">{{ comment.content|linebreaksbr }}</div>
                    <div id="comment-edit-form-{{ comment.pk }}" class="comment-update-form" style="display: none; width: 100%;">
                        <form class="edit-comment-form w-full d-flex py-2" action="{% url 'posts:comment_update' post.pk comment.pk %}" method="POST" data-comment-id="{{ comment.pk }}">
                        {% csrf_token %}
                            <input type="text" name="content" class="focus:outline-none w-11/12 rounded-lg w-full bg-gray-100 px-2 py-1" value="{{ comment.content }}">
                            <div class="posts__detail--comEtc">
                                <div class="posts__detail--coItCreated">{{ comment.created_at|date:"y. m. d" }}</div>
                                <div class="posts__detail--comUpdateBox">
                                    <form action="{% url 'posts:comment_update' post.pk comment.pk %}" method="POST">
                                    {% csrf_token %}
                                        <button type="submit" class="edit-comment-button posts__detail--comUpdatebtn text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm ml-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">수정</button>
                                    </form>
                                    <button data-comment-id="{{ comment.pk }}" class="cancel-comment-button posts__detail--comUpdatebtn text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm ml-1 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800" type="button">
                                        취소
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="comment-etc-{{ comment.pk }}" class="posts__detail--comEtc" style="display: block;">
                        <div class="posts__detail--coItCreated">{{ comment.created_at|date:"y. m. d" }}</div>
                        {% if request.user == comment.user %}
                            <div class="posts__detail--comUpdateBox">
                                <button  type="button" data-modal-target="comUpdate-modal-{{ comment.pk }}" data-modal-toggle="comUpdate-modal-{{ comment.pk }}" class="edit-comment-button posts__detail--comUpdatebtn text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm ml-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">수정</button>
                                <button  type="button" data-modal-target="comDelete-modal-{{ comment.pk }}" data-modal-toggle="comDelete-modal-{{ comment.pk }}" class="edit-comment-button posts__detail--comUpdatebtn text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm ml-1 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800">삭제</button>
                                
                                <div id="comUpdate-modal-{{ comment.pk }}" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                    <div class="relative w-full max-w-md max-h-full">
                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="comDelete-modal-{{ comment.pk }}">
                                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                                </svg>
                                                <span class="sr-only">Close modal</span>
                                            </button>
                                            <div class="p-6 text-center">
                                                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                                </svg>
                                                <div>
                                                    <h3 class="mb-3 text-lg font-normal text-gray-500 dark:text-gray-400">댓글 작성시 등록한 비밀번호를 입력해 주세요</h3>
                                                    <input type="password" id="comment_pw" name="comment_pw" class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400" required>
                                                </div>
                                                <button type="button" data-modal-hide="comUpdate-modal-{{ comment.pk }}" data-comment-id="{{ comment.pk }}" class="edit-comment-button2 text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">수정</button>
                                                <button data-modal-hide="comUpdate-modal-{{ comment.pk }}" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">취소</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                

                                <form action="{% url 'posts:comment_delete' post.pk comment.pk %}" method="POST">
                                    {% csrf_token %}
                                    <div id="comDelete-modal-{{ comment.pk }}" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                        <div class="relative w-full max-w-md max-h-full">
                                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="comDelete-modal-{{ comment.pk }}">
                                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                                    </svg>
                                                    <span class="sr-only">Close modal</span>
                                                </button>
                                                <div class="p-6 text-center">
                                                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                                    </svg>
                                                    <div>
                                                        <h3 class="mb-3 text-lg font-normal text-gray-500 dark:text-gray-400">댓글 작성시 등록한 비밀번호를 입력해 주세요</h3>
                                                        <input type="password" id="comment_pw" name="comment_pw" class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400" required>
                                                    </div>
                                                    <button data-modal-hide="comDelete-modal-{{ comment.pk }}" type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                                                        삭제
                                                    </button>
                                                    <button data-modal-hide="comDelete-modal-{{ comment.pk }}" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">취소</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% elif not comment.user %}
                            <div class="posts__detail--comUpdateBox">
                                <button  type="button" data-modal-target="comUpdate-modal-{{ comment.pk }}" data-modal-toggle="comUpdate-modal-{{ comment.pk }}" class="edit-comment-button posts__detail--comUpdatebtn text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm ml-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">수정</button>
                                <button type="button" data-modal-target="comDelete-modal-{{ comment.pk }}" data-modal-toggle="comDelete-modal-{{ comment.pk }}" class="edit-comment-button text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm ml-1 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800">삭제</button>

                                <div id="comUpdate-modal-{{ comment.pk }}" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                    <div class="relative w-full max-w-md max-h-full">
                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="comDelete-modal-{{ comment.pk }}">
                                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                                </svg>
                                                <span class="sr-only">Close modal</span>
                                            </button>
                                            <div class="p-6 text-center">
                                                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                                </svg>
                                                <div>
                                                    <h3 class="mb-3 text-lg font-normal text-gray-500 dark:text-gray-400">댓글 작성시 등록한 비밀번호를 입력해 주세요</h3>
                                                    <input type="password" id="comment_pw" name="comment_pw" class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400" required>
                                                </div>
                                                <button type="button" data-modal-hide="comUpdate-modal-{{ comment.pk }}" data-comment-id="{{ comment.pk }}" class="edit-comment-button2 text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">수정</button>
                                                <button data-modal-hide="comUpdate-modal-{{ comment.pk }}" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">취소</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <form action="{% url 'posts:comment_delete' post.pk comment.pk %}" method="POST">
                                    {% csrf_token %}
                                    <div id="comDelete-modal-{{ comment.pk }}" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                        <div class="relative w-full max-w-md max-h-full">
                                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="comDelete-modal-{{ comment.pk }}">
                                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                                    </svg>
                                                    <span class="sr-only">Close modal</span>
                                                </button>
                                                <div class="p-6 text-center">
                                                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                                    </svg>
                                                    <div>
                                                        <h3 class="mb-3 text-lg font-normal text-gray-500 dark:text-gray-400">댓글 작성시 등록한 비밀번호를 입력해 주세요</h3>
                                                        <input type="password" id="comment_pw" name="comment_pw" class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400" required>
                                                    </div>
                                                    <button data-modal-hide="comDelete-modal-{{ comment.pk }}" type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                                                        삭제
                                                    </button>
                                                    <button data-modal-hide="comDelete-modal-{{ comment.pk }}" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">취소</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% comment %} paginator {% endcomment %}
        <div class="pagination mt-4">
            <div class="mx-auto dark:text-white">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="page__btn"><i class="bi bi-chevron-double-left" style="font-size: 15px;"></i></a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page__btn"><i class="bi bi-chevron-left" style="font-size: 15px; margin-right: 10px;"></i></a>
                {% endif %}
                {% for page_number in page_obj.paginator.page_range %}
                    {% if page_number >= page_obj.number|add:'-5' and page_number <= page_obj.number|add:'4' %}
                    {% if page_number == page_obj.number %}
                        <span class="page__btn pagination__link--active">{{ page_number }}</span>
                    {% else %}
                        <a href="?page={{ page_number }}" class="page__btn">{{ page_number }}</a>
                    {% endif %}
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="page__btn"><i class="bi bi-chevron-right" style="font-size: 15px; margin-left: 10px;"></i></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="page__btn"><i class="bi bi-chevron-double-right" style="font-size: 15px;"></i></a>
                {% endif %}
            </div>
        </div>
    </section>

    <section>

    </section>
</article>

<div id="error-modal" class="modal">
    <div class="modal-content">
         <span class="close" onclick="closeModal()">&times;</span>
          <p id="error-message">로그인이 필요합니다.</p>
    </div>
</div>


{% endblock content %}

{% block script %}
<script src="{% static 'js/posts/postsdetail.js' %}"></script>
{% endblock script %}