{% extends 'base.html' %}

{% load static %}
{% load highlight_filter %}
{% load custom_filters %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/posts/postsindex.css' %}">
{% endblock style %}

{% block content %}
<section class="bg-white-0 dark:bg-gray-900">
  <div class="posts__index--warp">
    <div class="posts__index--header">
      <h1 class="posts__index--title dark:text-white">커뮤니티</h1>
      <a href="{% url 'posts:create' %}">
        <button type="button" class="posts__post--writebtn text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">글작성</button>
      </a>
    </div>
    <div class="posts__posts--listbox dark:text-white"> 
      <ul class="posts__posts--list">
        <li class="posts__posts--index">
          <p class="text1" style="width: 5%;">번호</p>
          <p class="text1" style="width: 10%;"></p>
          <p class="text1" style="width: 38%;">제목</p>
          <p class="text1" style="width: 15%;">작성자</p>
          <p class="text1" style="width: 15%;">작성일</p>
          <p class="text1" style="width: 8.5%;">추천</p>
          <p class="text1" style="width: 8.5%;">조회수</p>
        </li>
      </ul>
      <ul class="posts__posts--list">
        {% for post in page_obj %}
          <a href="{% url 'posts:detail' post.pk %}">
            <li class="posts__post--item {% if forloop.last %}last{% endif %}">
              <p class="posts__number text-center" style="width: 5%;">{{ post.pk }}</p>
              <p class="posts__number text-center" style="width: 10%;">[{{post.category}}]</p>
              {% if search_option == 'title' %}
                <p class="posts__title">{{ post.title|highlight:query|safe }}<span class="posts__index--titlecnt">{% if post.postcomment_set.count != 0 %}[{{ post.postcomment_set.count }}]{% else %}{% endif %}</span></p>
              {% else %}
                <p class="posts__title">{{ post.title }}<span class="posts__index--titlecnt">{% if post.postcomment_set.count != 0 %}[{{ post.postcomment_set.count }}]{% else %}{% endif %}</span></p>
              {% endif %}
              {% if search_option == 'author' %}
                <p class="posts__user text-center" style="width: 15%;">{{ post.user.username|highlight:query|safe }}</p>
              {% else %}
                <p class="posts__user text-center" style="width: 15%;">{{ post.user.username }}</p>
              {% endif %}
              <p class="posts__created text-center" style="width: 15%;">{{ post.created_at|date:"Y. m. d" }}</p>
              <p class="posts__created text-center" style="width: 8.5%;">{{ post.like_users.count }}</p>
              <p class="posts__created text-center" style="width: 8.5%;">{{ post.view_count }}</p>
            </li>
          </a>
        {% endfor %}
      </ul>
    </div>
    {% comment %} paginator {% endcomment %}
    <div class="pagination mt-4">
      <div class="mx-auto dark:text-white">
        {% if page_obj.has_previous %}
          <a href="?search_option={{ search_option }}&q={{ query }}&page=1" class="page__btn"><i class="bi bi-chevron-double-left" style="font-size: 15px;"></i></a>
          <a href="?search_option={{ search_option }}&q={{ query }}&page={{ page_obj.previous_page_number }}" class="page__btn"><i class="bi bi-chevron-left" style="font-size: 15px; margin-right: 10px;"></i></a>
        {% endif %}
        {% for page_number in page_obj.paginator.page_range %}
          {% if page_number >= page_obj.number|add:'-5' and page_number <= page_obj.number|add:'4' %}
            {% if page_number == page_obj.number %}
              <span class="page__btn pagination__link--active">{{ page_number }}</span>
            {% else %}
              <a href="?search_option={{ search_option }}&q={{ query }}&page={{ page_number }}" class="page__btn">{{ page_number }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <a href="?search_option={{ search_option }}&q={{ query }}&page={{ page_obj.next_page_number }}" class="page__btn"><i class="bi bi-chevron-right" style="font-size: 15px; margin-left: 10px;"></i></a>
          <a href="?search_option={{ search_option }}&q={{ query }}&page={{ page_obj.paginator.num_pages }}" class="page_btn"><i class="bi bi-chevron-double-right" style="font-size: 15px;"></i></a>
        {% endif %}
      </div>
    </div>

    {% comment %} search {% endcomment %}
    <div class="posts__post--searchwrap">
      <form action="{% url 'posts:search' %}" method="GET">
        <div class="posts--post--searchbox">
          <select name="search_option" id="" class="posts__post--searchlist">
            <option value="title">제목</option>
            <option value="author">작성자</option>
            <option value="content">내용</option>
            <option value="title_content">제목+내용</option>
          </select>
          <input type="text" name="q" value="{{ query|default:'' }}" placeholder="검색어를 입력하세요" class="posts__post--searchbar dark:tw-ring-blue-400 tw-ring-opacity-50">
          <button type="submit" class="posts__post--search"><i class="bi bi-search"></i></button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}

{% block script %}
{% endblock script %}